body{
font-family: "Roboto", sans-serif;
background-color: antiquewhite;
margin: 0;
padding: 0;

}   

header{
background-color: rgb(182, 122, 10);
color: white;
padding: 20px;
text-align: center;
margin: 0;

}

section{
padding: 30px 20 px;
max-width: 880px;
margin:auto ;



}

.card{
    background-color: aliceblue;
   border-radius: 8px;
   padding: 15px 20px;
   box-shadow: 7px 7px 13px -4px rgb(34, 60,80, 0.2);
   margin-bottom: 20px;
}


.card h3 {
    margin-top: 0;




}

.button{
display: inline-block;
background-color: green;
color: aliceblue;
padding: 8px 16px;
text-decoration: none;
border-radius: 8px;
margin-top: 10px;




}

.button:hover {
  background-color: rgb(2, 7, 5);


}


.image {
max-width: 100%;
border-radius: 4px;
margin-top: 10px;
}

footer {
text-align: center;
padding: 20px;
font-size: 0,9rem;
color: #777;


}