body {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(96, 96, 96);
    color: aliceblue;
    padding: 20px;
    text-align: center;
    margin: 0;
}

.section {
    padding: 30px 20px;
    max-width: 800px;
    margin: left;
}

.section h2 {
    margin-bottom: 20px;
    color: rgb(103, 60, 60);
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-shadow: 15px 12px 8px 0px rgba(34, 60, 80, 0.2);
}
.card h3 {
    margin-top: 0;
}

.button {
    display: inline-block;
    color: white;
    padding: 8px 16px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: rgb(43, 153, 0);
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: rgb(96, 96, 96);
    padding: 20px;
    font-size: 0.9rem;
}
.button:hover {
    background-color: rgb(37, 132, 0);
}
.image {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}