body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: white;
    color: rgb(17, 45, 96);
    padding: 20px;
    text-align: center;

}

h1{
    margin: 0;
}

.section {
    padding: 30px 20px;
    max-width: 800px;
    margin: auto;
}

.section h2 {
    margin-bottom: 20px;
    color: white;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card{
    margin-top: 0;
}

.image{
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: rgb(5, 5, 150);
}